/* Roboto Font */
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

/* BioRhyme Font */
@import url("https://fonts.googleapis.com/css2?family=BioRhyme&display=swap");

h1,
h2,
h3,
h4,
h5 {
  font-family: "BioRhyme", serif;
}

p,
a,
li,
nav,
.nav-links,
footer,
.card {
  font-family: "Montserrat", sans-serif;
}

/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Navbar Styling */
nav {
  width: 70%;
  height: 6rem;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar {
  display: flex;
  justify-content: space-between;
}

.nav-links {
  width: 50%;
  list-style: none;
  display: flex;
  justify-content: space-around;
}

.nav-item a {
  text-decoration: none;
  color: black;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.nav-item:hover a {
  color: #3d99e2;
  font-size: 20px;
  transition: font-size 0.3s ease;
}

/* Footer Styling */
footer nav {
  width: 60%;
  display: flex;
  align-items: center;
  padding: 1rem;
  font-size: 1rem;
  margin: 0 auto;
  margin-top: 2rem;
}

footer nav a {
  color: black;
  text-decoration: none;
  padding-left: 10px;
  padding-right: 10px;
}

footer nav a:hover {
  font-size: 1.2rem;
  transition: font-size 0.3s ease;
}

/* Logo Styling */
.logocontainer {
  max-width: 100%;
  max-height: 100%;
  height: auto;
}

.logo {
  width: 40%;
}

/* Home Page Styling */
.home-main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
}

.home-header h1 {
  font-size: 3rem;
}

.home-header p {
  width: 60%;
  text-align: center;
  font-size: 1.2rem;
}

.home-image {
  width: 35%;
}

.home-title {
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  border-bottom: 1px solid white;
}

/* Card Styling */
.card {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: #ffd1d0;
  color: white;
  padding: 2rem;
  margin-top: 2rem;
  border-radius: 10px;
  width: 70%;
}

/* About Page Styling */
.about-main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
  border-width: 20%;
}

.about-header h1 {
  font-size: 3rem;
}

.about-header p {
  width: 60%;
  text-align: center;
  font-size: 1.2rem;
}

.about-image {
  width: 35%;
}

.about-title {
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  border-bottom: 1px solid white;
}

.about-list {
  margin-bottom: 1rem;
  font-size: 1.2rem;
}

/* Favorite Things Styling */
.favorite-main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.favorite-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
  border-width: 20%;
}

.favorite-header h1 {
  font-size: 3rem;
}

.favorite-header p {
  width: 60%;
  text-align: center;
  font-size: 1.2rem;
}

.favorite-image {
  width: 35%;
}

.favorite-title {
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  border-bottom: 1px solid white;
}

.favorite-cat-pictures {
  display: flex;
  justify-content: space-around;
  margin-top: 1rem;
}

.favorite-cat-pictures img {
  width: 20%;
}

/* Socials Styling */
.linkedin-logo {
  width: 3rem;
  height: 2.5rem;
  margin-top: 1rem;
}

.facebook-logo {
  width: 3rem;
  height: 2.5rem;
  margin-top: 1rem;
}

.instagram-logo {
  width: 3rem;
  height: 2.5rem;
  margin-top: 1rem;
}

.zodiac-logo {
  width: 3rem;
  height: 2.5rem;
  margin-top: 1rem;
}

.social-logo {
  margin-left: 1rem;
}

/* Media Queries for Mobile */
@media only screen and (max-width: 600px) {
  .navbar {
    padding: 0px;
  }

  .navbar a {
    width: 100%;
  }
  .nav-links {
    padding-left: 110px;
    flex-direction: column;
  }
}
